@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* -------------------------- Global------------------------- */

:root {
   /* fonts */
   --font-roboto: "Roboto", sans-serif;
   --font-poppins: "Poppins", sans-serif;

   /* colors */
   --color-white: #fff;
   --color-ice: #f7f7f7;
   --color-black: #131414;
   --color-soft-black: #3a3b3b;

   --color-gradient-1: 135deg, #81ffef 0%, #f067b4 100%;
   --color-gradient-2: 330deg, rgba(41, 98, 242, 1) 0%, rgba(200, 44, 255, 1) 50%, rgba(254, 137, 2, 1) 65%;
}

* {
   margin: 0;
   padding: 0;
}

body {
   max-width: 1512px;
   margin: 0 auto;
   background-color: #1e1e1e;
   font-family: var(--font-roboto);
}

a {
   text-decoration: none;
}

li {
   list-style-type: none;
}

img {
   max-width: 100%;
   display: block;
}

/* ------------------------- /Global------------------------- */

/* -------------------------- Header------------------------- */
.bg-header {
   background: url(./imgs/Background.jpg) right no-repeat;
   background-size: cover;
   border-bottom: 100px solid var(--color-white);
}

.nav {
   display: flex;
   justify-content: end;
   padding-top: 25px;
}

.nav__links {
   display: flex;
   flex-wrap: wrap;
   gap: 5px;
   margin-right: 10%;
}

.nav__links a {
   color: var(--color-ice);
   font-family: var(--font-poppins);
   padding: 10px;
}

.banner {
   display: grid;
   grid-template-columns: 1.1fr 1fr;
}

.banner__text {
   padding-left: 120px;
}

.banner__text > h1 {
   font-family: var(--font-poppins);
   font-weight: 600;
   font-size: 64px;
   line-height: 76px;
   text-transform: uppercase;
   background-clip: inherit;
   background: -webkit-linear-gradient(var(--color-gradient-1));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   margin-top: 90px;
   margin-bottom: 30px;
}

.banner__text > p {
   font-size: 28px;
   line-height: 38px;
   color: var(--color-white);
}

.banner__img {
   position: relative;
   bottom: -85px;
}

/* ------------------------- /Header------------------------- */

/* ------------------------ Counters ------------------------ */

.counters {
   background-color: var(--color-white);
}

.counters__box {
   display: flex;
   justify-content: center;
   gap: 80px;
}

.counters__box__item {
   display: flex;
   flex-direction: column;
   text-align: center;
}

.counters__box__item__number {
   font-size: 64px;
}

.counters__box__item__text {
   font-size: 32px;
   margin-bottom: 50px;
}

.counters__shop-btn {
   display: flex;
   justify-content: center;
}

.counters__shop-btn > a {
   font-family: var(--font-poppins);
   color: var(--color-white);
   font-size: 18px;
   padding: 15px 30px;
   background: linear-gradient(var(--color-gradient-2));
   border-radius: 50px;
   margin-bottom: 50px;
}

/* ----------------------- /Counters ------------------------ */
